extends layout

block content
   div.container.loggain
      if appUser.length == 1
         h1 Logga ut
         form(action="/logout" method='post' id='logout')
            button(type='submit') Logga ut
      else
         h1(class='almstroms') Almströms Bilpool
         form(action="/login" method="post" id='loginform')
            div
               input(type="username" name="username" id="uname" placeholder="Användarnamn" required)
            div
               input(type="password" name="password" id ="pass" placeholder="Lösenord" required)
            div
               button(type="submit") Logga in 
         a(href="/newuser") Ny användare
      if wrong
         p Ditt användarnamn eller lösenord är felaktigt.
