extends layout

block content
	div.container
		h1 Almströms Bilpool
		form(action="/bokabil" method="post" id='loginform')
			input(type="username" name="username" id="uname" placeholder="Användarnamn")
			input(type="password" name="password" id ="pword" 	placeholder="Lösenord")
			input(type="submit" class="btn btn-primary btn-block" value="Logga in")