doctype html
html
   head
   title= title
   link(rel='stylesheet', href='/stylesheets/style.css')
   body
      .wrapper
         nav 
            ul
               li
                  a(href="/") Logga in
               li
                  a(href="/booking") Boka bil
                  if appUser.length == 1
                     li(id="logger") Du är inloggad som #{appUser[0].name}
      
         block content
