doctype html
html
   head
   title= title
   link(rel='stylesheet', href='/stylesheets/style.css')
   body
      .wrapper
         nav 
            ul
               li
                  if appUser.length == 1
                     a(href="/") Logga ut
                  else
                     a(href="/") Logga in
               li
                  a(href="/booking") Boka bil
               li
                  a(href="/myPage") Min sida
               if admin.length == 1
                  li
                     a(href="admin") Administrera
               if appUser.length == 1
                  li(id="logger") 
                     a(href="/myPage" id="loggedUser") Du är inloggad som #{appUser[0].name}
      
         block content
