extends layout

block content
   div.container.loggain
      h1(class="must") Logga in!
      p Du måste vara en godkänd användare för att kunna använda den här funktionen.
      a(href="/") Logga in
