doctype html
html(lang="en")
  extends layout

block content
  head
      title Nytt fordon
     
    body
    
      h1 Lägg till ny bil
      form(action="/", method="POST")
        div
          lable(for="title") Reg.nr:
          input(type="text", id="title" name="registration")  
        br     
        div
          lable(for="author") Växellåda:
          select(type="text", id="author", name="gearbox") 
            option Automat
            option Manuell
        br
        div
          lable(for="year") Drivmedel:
          select(type="text", id="year", name="fuel")
            option Bensin
            option Diesel
        br 
        div
          lable(for="genre") Besiktigad:
          select(type="text", id="genre", name="service") 
            option Januari
            option Februari
            option Mars
            option April
            option Maj
            option Juni
            option Juli
            option Augusti
            option September
            option Oktober
            option November
            option December
        br
        div
          lable(for="format") Fordonstyp: 
          select(type="text",id="format", name="type") 
            option Liten
            option Mellan
            option Stor
            option Servicebil
            option Skåpbil
            option Tjänstebil
        br
        div
          lable(for="publisher") Modell: 
          input(type="text",id="publisher", name="model")
        br 
        div.button
          button(type="submit") Lägg till

