extends layout

block content
	h1 Registrera ny användare
	form(action="/adduser" method="post" id='adduser')
		input(type="text" name="name" id="uname" placeholder="Namn" required)
		br
		input(type="text" name="id-number" id="uname" placeholder="Anställningsnummer" required)
		br
		input(type="email" name="email" id="uname" placeholder="E-post" required)
		br
		input(type="text" name="role" id="uname" placeholder="Yrkesroll" required)
		br
		input(type="password" name="password" id="uname" placeholder="Lösenord" required)
		br
		input(type="submit" class="btn btn-primary btn-block" value="Registrera")
		



		

		

		

	