:root{
   font-size: 18px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th{
	font-family: sans-serif;
	font-size: 20px;
}

.wrapper{
   width: 930px;
   max-width: 95%;
   margin:0 auto;
}

nav ul{
   padding: 0px;
}

nav li{
   list-style-type: none;
   display: inline-block;
   margin-right: 20px;
   font-size: 1rem;
}

#logger{
   float:right;
}
