:root{
   font-size: 18px;
}

body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #00B7FF;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
}

.wrapper{
   width: 700px;
   max-width: 95%;
   margin:0 auto;

}

nav{
   margin-bottom: 40px;
}
nav ul{
   padding: 0px;
}

nav li{
   list-style-type: none;
   display: inline-block;
   margin-right: 20px;
   font-size: 16px;

}

#logger{
   float:right;
}

#loggedUser{
   color:black;
}

button, .registrera {

  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

button:hover, .registrera:hover, #sok:hover, #boka:hover, .loggaout:hover{
  background: #178ab4;
}

input[name="username"], #pass{
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
#usertextbox{
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 0px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
input[name="username"]:focus, #pass:focus, #usertextbox:focus{
  border: 1px solid #33b5e5;
  color: #333333;
}


div.container {

  background: #ffffff;
  max-width: 700px;
  width: 100%;
  border-top: 20px solid #ffffff;
  border: solid 60px #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;



}
.loggain{

  max-width: 320px !important;

}

.almstroms{
  position: relative;
  text-align: center;
  margin: 0 0 20px;
  color: #33b5e5;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;


}
div a {
    margin: auto;
    top: 20px;
    position: relative;

}
body .wrapper nav ul li a {

  position: relative;
  margin: auto;
  top: 20px;

}

table{
    border-collapse:collapse;
    border-spacing: 0;
    color: #333;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:4px;
    border:#ccc 1px solid;
   -moz-border-radius:3px;
   -webkit-border-radius:3px;
   border-radius:3px;
   -moz-box-shadow: 0 1px 2px #d1d1d1;
   box-shadow: 0 1px 2px #d1d1d1;


}
th{
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  padding: 10px;
  border:1px outset white;
  color:#666;
  border:white 1px solid;

}
td{
  padding: 10px;
  border: solid 2px white;
}

tr:nth-child(even){
  background: #fafafa;

}


.bil, .mypage, .logout{
  font-weight: 700;
  color: #33b5e5;
  font-size: 23px;
  margin-bottom: 5px;
}
.logout{
  text-align: center;
  margin-bottom: 15px;
  font-weight: 500;

}
#sok, #boka, .loggaout, #godkanna, .laggtill{
  color: #ffffff;
  background: #33b5e5;
  border: 0;
  cursor: pointer;
  padding: 10px 40px;
  margin-top: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius:3px;
  font-weight: 700;
  font-size: 13px;
  -moz-box-shadow: 0 1px 2px #d1d1d1;
  transition: 0.3s ease;
}
.loggaout{
  width: 50%;
  display:block;
  margin:0 auto;
}
.laggtill{
   width: 22%;
}


.section{
  font-weight: 900;

}
.klar{
  color: #33b5e5;
}
